<div class="departments">
  <div>
    <input
      matInput
      (keyup)="setFilter($event)"
      type="text"
      placeholder="search"
    />
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Purchase
    </button>
    <button mat-raised-button color="warn" (click)="openLine()">
      Add Line Items
    </button>
  </div>

  <table
    class="tables"
    [dataSource]="dataSource"
    matSort
    mat-table
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="pu_id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.pu_id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="pu_number">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>PurchaseNumber</th>
      <td mat-cell *matCellDef="let element">{{ element.pu_number }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pu_date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>PurchaseDate</th>
      <td mat-cell *matCellDef="let element">
        {{ element.pu_date | date : "dd-MM-yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="p_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>PlantName</th>
      <td mat-cell *matCellDef="let element">{{ element.p_name }}</td>
    </ng-container>
    <ng-container matColumnDef="v_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>VendorName</th>
      <td mat-cell *matCellDef="let element">{{ element.v_name }}</td>
    </ng-container>
    <ng-container matColumnDef="pu_beforedate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        Material Required Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.pu_beforedate | date : "dd-MM-yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="u_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Purchased By</th>
      <td mat-cell *matCellDef="let element">{{ element.u_name }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="submitTo(element.pu_id)"
          mat-raised-button
          color="primary"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="visibility"
          ></mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          ></mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="actions">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary">Edit</button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[2, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<table
  *ngIf="source"
  class="tables"
  [dataSource]="source"
  matSort
  mat-table
  class="mat-elevation-z8"
>
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="pu_number">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.pu_number }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="i_name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>ItemName</th>
    <td mat-cell *matCellDef="let element">{{ element.i_name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="i_type">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>PurchaseDate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.i_type }}
    </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="i_discount">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Discount</th>
    <td mat-cell *matCellDef="let element">{{ element.i_discount }}</td>
  </ng-container>
  <ng-container matColumnDef="i_uom">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>U/M</th>
    <td mat-cell *matCellDef="let element">
      {{ element.i_uom }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayed"></tr>
  <tr mat-row *matRowDef="let row; columns: displayed"></tr>
</table>
